body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  font-size: 62,5%;
}

.container {
  max-width: 144rem;
  padding: 0 auto;
}

header {
  display: flex;
  gap: 2.8rem; 
  justify-content: center;
  background-color: #F9F4FB;
  padding-bottom: 7rem;
}

header h1 {
  font-size: 3.8rem;
  color: #B52184;
  margin: .2rem 0;
  text-shadow: 1px 3px 2px #B2A8BA;
  padding-top: 19rem;
}

header h2 {
  font-size: 1.9rem;
  font-weight: 1000;
  color: #312D64;
  margin: 0;
  text-shadow: 1px 3px 2px #B2A8BA;
  padding-bottom: 10rem;
}

header .button-img {
  border-radius: 1.8rem; 
}

header .button-img:hover {
  background-color: #fff;
  cursor: pointer;
}

main {
  background-color: #343193;
  display: flex;
  gap: 6.5rem;
  justify-content: center;
}

main .main-card {
  background-color: #FFF;
  padding: 1.6rem;
  margin: 4rem 0;
  border-radius: .8rem;
  width: 20rem;
  height: 25rem;
  min-width: 20rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.main-card h1 {
  font-size: 2.2rem;
  font-weight: 1000;
  color: #B52184;
  margin-bottom: 0.6rem;
}

.main-card span {
  font-size: 1.2rem;
  color: #312D64;
  font-weight: bold;
}

section {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: url(./images/points.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #F9F4FB;
}

.container-section {
  padding-left: 7rem;
}

section form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40rem;
  padding-bottom: 8.1rem;
}

form input {
  border-top: 2px solid #312D64;
  border-right: 2px solid #312D64;
  border-bottom: 2px solid #312D64;
  border-left: none;
  background-color: #F9F4FB;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
  padding: .6rem .6rem;
  width: 34.5rem;
}

form input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

form .input-wrapper {
  display: flex;
}

form .input-wrapper img {
  border: 2px solid #312D64;
  padding: .6rem 1rem;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
  border-right: none;
}

form textarea {
  max-height: 8rem;
  max-width: 38rem;
  border: 2px solid #312D64;
  background-color: #F9F4FB;
  border-radius: .8rem;
  padding: .8rem 1rem;
  box-shadow: 0 0 0 0;
  outline: 0;
}

textarea::placeholder , input::placeholder {
  color: #312D64;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

form label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.container-section h1 {
  font-size: 2.8rem;
  font-weight: 1000;
  color: #B52184;
  margin: 6rem 0 2rem;
}

form button {
  width: 11.2rem;
  padding: .8rem ;
  background-color: #343193;
  color: #FFF;
  font-size: .9rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 2rem;
}

form button:hover {
  background-color: #B52184;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 2rem;
  color: #FFF;
  background-color: #343193;
  font-size: 1.2rem;
} 

@media (max-width: 43rem) {

  header {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  header .ast-img {
    height: 25rem;
    width: 25rem;
    width: 100%;
  }

  header h1 {
    font-size: 2.2rem;
    color: #B52184;
    margin: .2rem 0;
    text-shadow: 1px 3px 2px #B2A8BA;
    padding-top: 2rem;
  }
  
  header h2 {
    font-size: 1.3rem;
    font-weight: 1000;
    color: #312D64;
    margin: 0;
    text-shadow: 1px 3px 2px #B2A8BA;
    padding-bottom: 2rem;
  }
  
  header .button-img {
    border-radius: 1.8rem; 
    width: 2rem;
    width: 3rem;
  }
  
  header .button-img:hover {
    background-color: #fff;
    cursor: pointer;
  }

  main {
    display: flex;
    flex-direction: column;
    background-color: #343193;
    padding: 4rem 2rem;
    margin: 0;
  }

  main .main-card {
    background-color: #FFF;
    max-height: 19rem;
    border-radius: .8rem;
    margin: 0;

  }

  .main-card h1 {
    font-size: 2rem;
    font-weight: 1000;
    color: #B52184;
    margin-bottom: 0.6rem;
  }
  
  .main-card span {
    font-size: 1rem;
    color: #312D64;
    font-weight: bold;
  }

  section {
    display: flex;
    width: 100%;
    background: none;
    margin: 0 auto;
    background-color: #F9F4FB;
  }
  
  .container-section {
    padding-left: 2rem;
  }
  
  section form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 23rem;
    padding-bottom: 4rem;
  }
  
  form input {
    border-top: 2px solid #312D64;
    border-right: 2px solid #312D64;
    border-bottom: 2px solid #312D64;
    border-left: none;
    background-color: #F9F4FB;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    padding: .6rem .6rem;
    width: 34.5rem;
  }
  
  form input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  form .input-wrapper {
    display: flex;
  }
  
  form .input-wrapper img {
    border: 2px solid #312D64;
    padding: .6rem 1rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    border-right: none;
  }
  
  form textarea {
    height: 8rem;
    max-height: 12rem;
    max-width: 38rem;
    border: 2px solid #312D64;
    background-color: #F9F4FB;
    border-radius: .8rem;
    padding: .8rem 1rem;
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  textarea::placeholder , input::placeholder {
    color: #312D64;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
  }
  
  form label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }
  
  .container-section h1 {
    font-size: 2rem;
    font-weight: 1000;
    color: #B52184;
    margin: 5rem 0 2rem;
  }
  
  form button {
    width: 11.2rem;
    padding: .8rem ;
    background-color: #343193;
    color: #FFF;
    font-size: .9rem;
    border-radius: 1rem;
    border: none;
  }
  
  form button:hover {
    background-color: #B52184;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 2rem;
    color: #FFF;
    background-color: #343193;
    font-size: 1rem;
  }
}